.marketing{
 
    width: 100%;
    --bg-opacity: 1;
   
   
    background-color: rgba(249,250,251,var(--bg-opacity));
}
.marketingWrapper{
  
   text-align: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
}
.marketing_adsContainer{
margin:2%;
    border : 0.1px solid var(--orangestandard);
    border-collapse: collapse;
    border-radius: 10px;
    border-top-width: 7px;

    width: 96%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
    
}
.marketing_adsContainer_wrapper{
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 

}
.marketing_adsContainer_div{
    width: 550px;
    margin-left: 8px;
}
.marketing_offerContainer_div{
    border: 1px solid var(--orangestandard);
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
width: 550px;
margin-right: 10px;

}
.marketing_adsDiv{
   
    
}
.marketing_adsHeader{
    width: 95%;
    display: flex;
 
    margin-left: 2%;
    justify-content: space-between;
    margin-bottom: -10px;
}
.marketing_adsHeader_h1{
    font-size: larger;
    font-weight: 500;
    color: #000;
    margin-top: 9px;
    
}
.createAd_btn {
    position: relative;
    background-color: #de751f;
    border: none;
    border-radius: 40px !important;
    font-size: 15px;
    color: #ffffff;
    padding: 13px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px !important;
  }
  .homePage_bottomContain_productSection_adDiv_Scroll{
   overflow-y: scroll;
 height: 507px;
 margin-left: 20px;
 width:98%;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
      0 2px 4px rgba(0,0,0,0.07), 
      0 4px 8px rgba(0,0,0,0.07), 
      0 8px 16px rgba(0,0,0,0.07),
      0 16px 32px rgba(0,0,0,0.07), 
      0 16px 32px rgba(0,0,0,0.07), 
      0 32px 64px rgba(0,0,0,0.07);
      border-radius: 20px; */

  }
  .homePage_bottomContain_productSection_offerDiv_Scroll{
    overflow-y: scroll;
  height: 595px;
     /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
       0 2px 4px rgba(0,0,0,0.07), 
       0 4px 8px rgba(0,0,0,0.07), 
       0 8px 16px rgba(0,0,0,0.07),
       0 16px 32px rgba(0,0,0,0.07), 
       0 16px 32px rgba(0,0,0,0.07), 
       0 32px 64px rgba(0,0,0,0.07);
       border-radius: 20px; */
 
   }