.myreact-icons {
    color: red;
    height: 40px;
  }
  .table_container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
   
  }
  .table_container_divScroll{
    width: 100% !important;
    overflow-y: scroll;

  }
  .table_customer{
    width: "100%";
    align-items: "center";
    border: "1px solid #ddd";
    border-radius:"20px ";
  }
  .table_product th,
  td {
    text-align: center !important;
    padding: 10px !important;
    align-items: center;
  }
  