.category-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(238, 238, 240);
  border: 1px solid #ddd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}


/*

.select-selected {
  background-color: DodgerBlue;
}

 
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #141111;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}*/
