.demandListDetail_accepted{
    /* background-color: var(--lightgray); */
    width:100%;
    border-radius: 20px;
  

}
.demandListDetail_acceptedWrapper{
    box-shadow: var(--darkgray);
    background-color: white;
    margin:1%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
0 2px 4px rgba(0,0,0,0.07), 
0 4px 8px rgba(0,0,0,0.07), 
0 8px 16px rgba(0,0,0,0.07),
0 16px 32px rgba(0,0,0,0.07), 
0 16px 32px rgba(0,0,0,0.07), 
0 32px 64px rgba(0,0,0,0.07);
  background-color: white;
  margin-left:-0.3%; 
  margin-top: -4%;
  margin-right: -1%;
}
.demandListDetail_accepted_header{
    margin-top: 2%;
    margin-bottom: 5px;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
  
}
.demandlistDetail_accepted_userContainer{
display: flex;
flex-direction: column;
width: 100%;
align-content: center;
text-align: center;
align-items: center;
align-self: center;
}
.demandlistDetail_accepted_imgDiv{
    width:50%;
   height: fit-content;
   
}
.demandlistDetail_accepted_img{
    width:50%;
    height:10rem;

}
.demandlistDetail_accepted_userDiv{
margin-top: 7px;
width:100%;
height:80%;
text-align: center;
}
.demandListDetail_accepted_user{
    font-size: 18px;
}.demandListDetail_accepted_dateDiv{
text-align: center;
}
.demandListDetail_accepted_date{
font-size: 14px;
color: var(--darkestgray);
font-style:normal;
font-weight: 100;
}
.demandList_accepted_message{
  
  width:600px;
margin-left: 8px;
margin-right: 8px;
margin-top: 1%;
}
.demandList_accepted_messageText{
    font-size: 15px;
    opacity: 80%;
    padding :2%;
 
    opacity: 80%;
    border: 3px solid var(--lightgray);
    border-radius: 8px;

}
.demandListDetail_accepted_orderContainer{
    display: flex;
    margin-left: 4%;
    margin-top:-2%;

}
.demandListDetail_accepted_orderLabel{
    font-size: 16px;
    font-weight: bold;
    color: black;
    opacity: 70%;
}
.demandListDetail_accepted_orderNoDiv{
   margin-top: -3px;
    border: 1px solid var(--darkgray);
    padding: 2px;
    border-radius: 18px;
    background-color: var(--orangestandard);
}
.demandListDetail_accepted_orderNo{
color: white;
font-weight: 600;
padding: 5px;
font-size: 18px;
}
.demandListDetail_accepted_buttonContainer{
    margin-top: 5%;
   justify-content: center;
  justify-items: center;
  text-align: center;
    margin-bottom: 5%;
    width: 100%;
}
  .approved_demandListDetail{
    width:50%;
    margin-top: -3%;
   margin-left: 25%;
  margin-right: 50%;
    background-color: green;
    color: white;
    padding: 2%;
    opacity: 64%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.demandlistDetail_accepted_productDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:30%;
}