.sales{
    display: block;
    width: 100% !important;
    --bg-opacity: 1;
    background-color: rgba(249,250,251,var(--bg-opacity));
    margin-right: 1%;
  }
  .salesWrapper{
    margin:3%;
    
  }
  .sales_title {
    font-size: 1.5rem;
    font-family: sans-serif;
    display: flex;
    width: 100%;
    height: 30px;
  }
  .sales_searchContainer {
   
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
    border-color: #ddd;
    background-color: white;
    border-radius: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    margin-left: 10px;
    
  }
  .sales_searchContainer_wrapper{
    display: flex;
    flex: 4;
   
  }
  .sales_searchField {
    position:relative;
    width:40%;
  }
 
  .sales_Field {
    position: relative;
 width: 20%;
   
  }
  .download_sales {
    position: relative;
   width: 20%;
   
  }
  .downloadSales_btn {
   
    background-color: #de751f;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #ffffff;
    padding: 13px;
    width: fit-content;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  
  }
  /*
  .addProduct_btn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .addProduct_btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }*/
  .sales_table{
    margin:10px;
    width: 100%;
  }

  .salesContainer{
    width:100%;
   
  }
  .salesContainer_wrapper{
    display: flex !important;
    flex-direction: column !important;
  }
  .salesContainer_wrapper_left{
   
   
    border:0.8px solid var(--darkgray);
    border-width: 1px;
 
    width :100%;
    display: flex;
    height:520px;
    flex-direction: row;

  }
  .salesContainer_wrapper_left_top{
    height: 515px;
    border:0.8px solid var(--darkgray);
    border-width: 1px;
    width:60%;

    
  }
  .salesContainer_wrapper_left_bottom{
    height: 50%;
    border:0.8px solid var(--darkgray);
    border-width: 1px;
    margin-top: -5px;
    
  }

  .salesContainer_wrapper_right{
   
    border:0.8px solid var(--darkgray);
    border-width: 1px;
 
    width:100%;
    display: flex;
    flex-direction: column;
  }
  .salesContainer_wrapper_right_top{
    height: 515px;
    border:0.8px solid var(--darkgray);
    border-width: 1px;
    width:40%
  }
  .salesContainer_wrapper_right_bottom{
    border:0.8px solid var(--darkgray);
    border-width: 1px;
  }
  .sales_details_monthlyDiv{
align-items: right;
text-align: right;
margin-left: 600px;
  }
  .sales_details_monthlyBtn{
    border: 0.8px solid var(--darkergray);
    border-radius: 4px;
    background-color: #82ca9d;
    color: white;
    padding: 2px 30px 2px 2px;
margin-left: 5%;
height: 30px;
    cursor: pointer;
    font-size: 16px;

  }
 .sales_details_monthlyDiv{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-right: 30px;
    margin-top: 4px;
 }
  