.search_input {
  width: 100%;
  
  border-radius: 5px solid grey !important;
  /* background-color: rgb(238, 238, 240); */
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  /* height: 25% !important; */
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 20% !important;
}