.tablehead_detail{
font-size: 0.875rem;
}
.tablehead_edit{

}
.css-ahj2mt-MuiTypography-root{
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}
.css-1mxz8qt-MuiPaper-root{
    background-color: aquamarine !important;
}
.css-1ex1afd-MuiTableCell-root{
text-align: center;
}
.css-1ex1afd-MuiTableCell-root{
    text-align: center !important; 
}
.table_category th, td{
    text-align: center !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    
}