.tablehead_detail{
font-size: 0.875rem;
}
.tablehead_edit{

}
.css-ahj2mt-MuiTypography-root{
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}
.css-1mxz8qt-MuiPaper-root{
    background-color: aquamarine !important;
}