/* .css-m1xwsv-MuiTableCell-root  {
  text-align: center !important;
 margin-right: 7px;
}
.css-1ygcj2i-MuiTableCell-root {
  text-align: center !important;

}
.css-hbtnrh-MuiTableCell-root{
     text-align: center !important;
}
.css-1azl6jz-MuiTableCell-root{
    text-align: center !important;
} */
.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover{
  background-color: aqua;
}